/*
    National Park Cards
    ===================
    Ryan Barbour
    r2barbour@gmail.com
    May 2019

*/

/* Simple CSS */

h5 {
    margin: 2px 2px 0px;
}

h6 {
    margin: 2px 2px 0px;
}


/* Main page formatting */

.searchHeader {
    margin: 2px 20px 2px 2px; 
}

#nameButton {
    margin: 2px 20px 2px 2px; 
}

.leftContainer {
    height: 1350px;
    width: 330px;
    float: left;
    margin: 10px;
}

.container {
    background: rgb(236, 193, 137);
    border: solid 8px rgb(54, 99, 48);
    height: 1375px;
    width: 800px;
    margin: 10px auto;
    position: relative;
    float: left;
}

#parkFullName {
    font-family: Georgia, Times, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 3px 3px;
    float: left;
}

#parkStates {
    font-family: Georgia, Times, sans-serif;
    margin: 8px 3px 0px;
    float: right;
}

.parkPictureDiv {
    background: gray;
    border: solid 3px lightgray;
    display: block;
    margin: 35px auto 20px;
    clear: both;
    height: 300px;
    width: 400px;
}

#parkPicture {
    height: 100%;
    width: 100%;
}

#body {
    margin: 10px 10px 10px 15px;
}

.leftBox {
    margin: 10px 0px;
    border: double 3px rgb(21, 56, 30);
    height: 250px;
    width: 49.25%;
    float: left;
}

#parkCenters {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 2px 2px 5px 2px;
}


.rightBox {
    margin: 10px 0px;
    border: double 3px rgb(21, 56, 30);
    height: 250px;
    width: 49.25%;
    float: right;
}

.rightBox h4 {
    margin: 10px;
}

.leftBox h4 {
    margin: 10px;
}

#parkCampgrounds {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 2px;
}

#alertBox {
    overflow-y: scroll;
    border: solid 1px black;
    margin: 2px 0px 0px 2px;
    float: left;
    height: 250px;
    width: 49.5%;
}

#articleBox {
    overflow-y: scroll;
    border: solid 1px black;
    margin: 2px 2px 0px 0px;
    float: right;
    height: 250px;
    width: 49.5%;
}

#eventBox {
    overflow-y: scroll;
    border: solid 1px black;
    margin: 0px 0px 2px 2px;
    float: left;
    height: 250px;
    width: 49.5%;
}

#newsBox {
    overflow-y: scroll;
    border: solid 1px black;
    margin: 0px 2px 2px 0px;
    float: right;
    height: 250px;
    width: 49.5%;
}

.footer {
    float: bottom;
    background: rgb(21, 56, 30);
    color: white;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
}

#parkCode {
    margin: 5px 3px;
    float: left;
}

#parkID {
    float: right;
    font-size: 12px;
    margin: 7px 3px;
}

a:link {
    color: #d17f38;
}

a:visited {
    color: #d17f38;
}

a:hover {
    color: #4b2707;
    text-decoration: underline;
    cursor: pointer;
}


/* VCCard formatting */

#visitorCenterURL {
    margin: 4px;
}

#visitorCenterURL a:hover {
    color: lightgray;
}

.visitorCenterContainer {
    background: rgb(236, 193, 137);
    border: solid 8px rgb(54, 99, 48);
    height: 200px;
    width: 800px;
    margin: 10px auto;
    position: relative;
}

/* CampCard formatting */

.campgroundContainer {
    background: rgb(236, 193, 137);
    border: solid 8px rgb(54, 99, 48);
    height: 750px;
    width: 800px;
    margin: 10px auto;
    position: relative;
}

#campgroundName {
    margin: 4px;
}

/* #amenityIcons {
    padding: 10px;
} */

.amenityPics {
    margin: 10px;
}

#campgroundReservationLink {
    margin: 4px;
}

#campgroundReservationLink a:hover {
    color: lightgray;
}

#map { 
    width:100%; 
    height: 100%;
}

/* learningMaterials formatting */

.learningContainer {
    background: rgb(236, 193, 137);
    border: solid 8px rgb(54, 99, 48);
    height: 650px;
    width: 800px;
    margin: 10px auto;
    position: relative;
}

#lessonScroll {
    overflow-y: scroll;
    height: 300px;
}

.lessonHeader {
    width: 97%;
    margin: 10px auto 0px;
    padding: 4px;
    border: solid 1px black;
}

#lessonHeaderTitle {
    font-size: 20px;
    font-weight: bold;
}

#peopleScroll {
    overflow-y: scroll;
    height: 150px;
}

.peopleHeader {
    width: 45%;
    margin: 10px 6px 0px;
    padding: 4px;
    border: solid 1px black;
    float: left;
}

#peopleHeaderTitle {
    font-size: 20px;
    font-weight: bold;
}

#placesScroll {
    overflow-y: scroll;
    height: 150px;
}

.placesHeader {
    width: 45%;
    margin: 10px 6px 0px;
    padding: 4px;
    border: solid 1px black;
    float: right;
}

#placesHeaderTitle {
    font-size: 20px;
    font-weight: bold;
}