/*
    National Park Cards
    ===================
    Ryan Barbour
    r2barbour@gmail.com
    May 2019

*/

/* Simple CSS Reset */

.searchButton {
    margin: 2px auto; 
}

.container {
    background: rgb(236, 193, 137);
    border: solid 8px rgb(54, 99, 48);
    height: 800px;
    width: 650px;
    margin: 10px auto;
    position: relative;
}

#parkFullName {
    font-family: Georgia, Times, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 3px 3px;
    float: left;
}

#parkStates {
    font-family: Georgia, Times, sans-serif;
    margin: 8px 3px 0px;
    float: right;
}

.parkPictureDiv {
    background: gray;
    border: solid 3px lightgray;
    display: block;
    margin: 35px auto 20px;
    clear: both;
    height: 300px;
    width: 400px;
}

#parkPicture {
    height: 100%;
    width: 100%;
}

#body {
    margin: 10px 10px 10px 15px;
}

.leftBox {
    margin: 10px 0px;
    border: double 3px rgb(21, 56, 30);
    height: 250px;
    width: 319px;
    float: left;
}

#parkCenters {
    overflow-y: scroll;
}


.rightBox {
    margin: 10px 0px;
    border: double 3px rgb(21, 56, 30);
    height: 250px;
    width: 319px;
    float: right;
}

#parkCampgrounds {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 2px;
}

.footer {
    float: bottom;
    background: rgb(21, 56, 30);
    color: white;
    height: 30px;
    width: 650px;
    position: absolute;
    bottom: 0;
    display: block;
}

#parkCode {
    margin: 5px 3px;
    float: left;
}

#parkID {
    float: right;
    font-size: 12px;
    margin: 7px 3px;
}





